
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25rem;
    background-color: #00A3D4;
    z-index: 3;

    position: relative;
}
.header__line {
    height: 1px;
    width: 100%;
    background-color: #fff;
}

.header__logo {
    width: 133rem;
    height: 103rem;
}

.header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    display: none;
}
.header__burger.active .header__burger__icon__active{
    display: block;
}
.header__burger.active .header__burger__icon{
    display: none;
}
.header__burger__icon__active {
    display: none;
}
.header_phone {
    display: none;
}

@media screen and (max-width: 550px) {
    .global__wrapper {
        /* padding-top: 84rem; */
    }
    .header__logo {
        width: 85rem;
        height: 66rem;
    }
    .header {
        /* padding-top: 19rem; */
        margin-top: 14rem;
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;
        padding-left: 22rem;
        padding-right: 22rem;
    }
    .header__burger {
        display: flex;
    }
    .header_phone {
        display: flex;
    }
    .header {
        /* position: fixed;
        top: 0;
        left: 0;
        width: 100%; */
        position: sticky;
        top: 0;
    }
}