.hero {
    padding-top: 76rem;
    padding-bottom: 223rem;
}
.hero .container {
    position: relative;
}
.hero__text {

}
.hero__title {
    font-size: 86rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    padding-left: 6rem;
}
.hero__desc {
    font-size: 26rem;
    font-weight: 300;
    margin-top: 14rem;
    color: white;
    line-height: 135%;
    padding-left: 13rem;
}
.hero__desc * {
    font-size: 26rem;
    font-weight: 400;
}
.hero__desc strong {
    font-size: 26rem;
    font-weight: 400;
}
.hero__btn {
    margin-top: 36rem;
    margin-left: 12rem;
}
.hero__img {
    position: absolute;
    bottom: -241rem;
    right: -48rem;
    width: 752rem;
    height: 573rem;
}
.hero__img-mobile {
    display: flex;
    justify-content: center;
    display: none;
}


@media screen and (max-width: 550px) {
    .hero__img-mobile {
        display: flex;
    }
    .hero {
        padding-top: 64rem;
        padding-bottom: 31rem;
    }
    .hero__title {
        font-size: 45rem;
        padding-left: 2rem;
        letter-spacing: 0.9rem;
    }
    .hero__desc {
        font-size: 15rem;
        padding-left: 0;
        line-height: 21.25rem;
    }
    .hero__desc strong {
        font-size: 15rem;
    }
    .hero__img {
        display: none;
    }
    .hero__text {
        margin-top: 68rem;
    }
    .hero__btn {
        margin-top: 26rem;
        margin-left: 0rem;
        width: 100%;
        padding-top: 13rem;
    }
}