* {
    font-size: 16rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}
html {
    font-size: 1px;
}
body {
    background-color: #00A3D4;
}
.container {
    max-width: 1056px;
    padding-left: 16rem;
    padding-right: 16rem;
    margin: 0 auto;
}
.btn {
    background-color: #fff;
    color: #00A3D4;
    border: none;
    border-radius: 100rem;
    padding: 10rem 65rem 19rem 65rem;
    text-transform: uppercase;
    font-size: 20rem;
}