.navbar {
    background-color: #00A3D4;
}
.navbar__links {
    display: flex;
    justify-content: center;
    height: 55rem;
    margin-top: 13rem;
}
.navbar__links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    min-width: 100%;
}
.navbar__links ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 21rem;
    margin-right: 21rem;
    /* margin-left: 10px;
    margin-right: 10px; */
}
.navbar__link.active {
    margin-top: -10rem;

}
.navbar__link.active a {
    font-size: 20rem;
    position: relative;
    border-bottom: 1px solid white;
    padding-bottom: 10rem;
    /* padding-top: 10rem; */
    padding-left: 22rem;
    padding-right: 22rem;

}
/* .navbar__link.active a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    height: 1rem;
    background-color: #fff;
} */