
.navbar__mobile {
    /* background-color: #00A3D4; */
    background-color: green;
    padding-left: 36rem;
    padding-right: 36rem;
}
.navbar__mobile__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none ;
}
.navbar__mobile__links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28rem;
    font-weight: 300;
    line-height: 33.6rem;
    text-align: center;
    text-transform: uppercase;
}