.navbar {
    background-color: #00A3D4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}
.navbar__links {
    display: flex;
    justify-content: center;
    height: 55rem;
    margin-top: 18rem;
}
.navbar__links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    min-width: 100%;
}
.navbar__links ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 22rem;
    margin-right: 20rem;
}
.navbar__link.active {
    margin-top: -5rem;
}
.navbar__link.active a {
    font-size: 20rem;
    position: relative;
    border-bottom: 1px solid white;
    padding-bottom: 7rem;
    padding-left: 24rem;
    padding-right: 24rem;
}
.navbar__link a.mPS2id-highlight-last {
    font-size: 20rem;
    position: relative;
    border-bottom: 1px solid white;
    padding-bottom: 7rem;
    padding-left: 24rem;
    padding-right: 24rem;
    margin-top: -5rem;
}


@media screen and (max-width: 550px) {
    .navbar {
        display: none;
    }
}